<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ports>
    <port default="80"/>
  </ports>
  <hostnames>
    <hostname value="myproject" />
  </hostnames>
  <cassandra>
    <host ip="cassandrahost0" />
    <host ip="cassandrahost1" />
    <host ip="cassandrahost2" />
  </cassandra>
  <hazelcast>
    <host ip="hazelcasthost0" />
    <host ip="hazelcasthost1" />
    <host ip="hazelcasthost2" />
  </hazelcast>
</configuration>