<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <ports>
    <port default="80"/>
  </ports>
  <hostnames>
    <hostname value="myproject" />
  </hostnames>
  <dbhosts>
    <dbhost ip="127.0.0.1" />
    <dbhost ip="127.0.0.2" />
    <dbhost ip="127.0.0.3" />
  </dbhosts>
</configuration>