<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Responsive Onepage HTML Template | Multi</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/roboto.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
        <link href="css/angular-ui-notification.min.css" rel="stylesheet">

</head><!--/head-->

<body id="home" class="homepage" ng-app="app">
    
    
    
    <div class="container" id = "animals"> </div>
    
    
    
<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="index.html"><img src="images/dogs/pet-finder-logo-design.png" style="height:60px;" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                          <ul class="nav navbar-nav">
                    <li class="scroll active"><a href="#home">Home</a></li>
                    <li class="scroll"><a href="#features">Features</a></li>
                    <li class="scroll"><a href="#meet-team">Pet Collection</a></li>
                    <li class="scroll"><a href="#get-in-touch">Contact</a></li>
                </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

    <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(images/dogs/Black-Cat-Wallpapers-HD.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Pets</span> are our friends</h2>
                                    <p> We do this by breaking down misconceptions surrounding shelter pets and communicating that “A person is the best thing to happen to a shelter pet. Be that person. Adopt.” </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(images/dogs/Dog-HD-Wallpapers.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2>The Shelter   <span>Pet</span> Project</h2>
                                    <p>The Shelter Pet Project is the result of a collaborative effort between two leading animal welfare groups, The Humane Society of the United States and Maddie’s Fund </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->



    <section id="features">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Adopt Animal</h2>
                <p class="text-center wow fadeInDown">Check out our ad campaign, which encourages people to adopt and provide a loving home for dogs and cats in need!/p>
            </div>
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                    <img class="img-responsive" src="images/dogs/dogy.00_png_srz" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="media service-box wow fadeInRight">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Are all animal shelters the same?</h4>
                            <p>There are three kinds of adoption organizations: municipal animal shelters, private humane societies and SPCAs and rescue organizations. The first two are “brick and mortar” facilities; rescue groups are volunteer organizations that care for the pets in their homes?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta2">
        <div class="container">
            <div class="text-center">
                <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms"><span>PET</span> SHETLER IS A PLACE WHERE YOU CAN GET NEW FRIEND</h2>
                <img class="img-responsive wow fadeIn" src="images/cta2/cta2-img.png" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
            </div>
        </div>
    </section>

   
    
    
<section id="meet-team" ng-controller="PetController as ctrl">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Animals</h2>
            <p class="text-center wow fadeInDown">You can pick animal from here</p>
        </div>

       <form ng-submit="takeAnimal()" name="myForm" class="form-horizontal">

            <h4 class="text-center wow fadeInDown media-heading"> Use filter to specify animals: <input type="search"
                                                                                                        ng-model="q"
                                                                                                        placeholder="type"
                                                                                                        aria-label="filter friends"/>
            </h4>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>button</th>
                    <th>id</th>
                    <th>type</th>
                    <th>age</th>
                    <th>gender</th>
                    <th>name</th>
                    <th>mobile</th>
                    <th>Image</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in ctrl.pets | filter:q as results">
                    <td class="vert-align"><input type="radio" data-ng-model="$parent.petId" ng-value="{{u.Id}}"></td>
                    <td class="vert-align">{{u.Id}}</td>
                    <td class="vert-align">{{u.Type}}</td>
                    <td class="vert-align">{{u.Age}}</td>
                    <td class="vert-align">{{u.Gender}}</td>
                    <td class="vert-align">{{u.Name}}</td>
                    <td class="vert-align">{{u.Phone}}</td>
                    <td class="vert-align"><img ng-src= "{{u.Image}}" class="img-thumbnail" alt="Cinque Terre"
                                                style="width:200px;height: 200px;"></td>
                </tr>
                </tbody>
            </table>

            <h3 class="text-center section-title fadeInDown media-heading"> Fill form for taking animal </h3>

            <div class="form-group">
                <input id="searchTextField" name="place" type="text" data-ng-model="address" size="50"
                       class="form-control"
                       placeholder="location" ng-minlength="3" required/>
            </div>


            <div class="form-group">
                <input type="text" name="name" data-ng-model="name" class="form-control" placeholder="name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" data-ng-model="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="text" name="phone" class="form-control" data-ng-model="phone" placeholder="phone"  required>
            </div>


            <input type="submit" class="btn" value="Take">
        </form>
        
        
         
        
        

        <div class="divider"></div>
        
        <button class="btn" ng-click="getMe()">Get Me</button>
        <div ng-repeat="me in ctrl.info">
            <p>{{me.Name}}</p> 
            <p>{{me.Email}}</p>
            <p>{{me.Phone}}</p>
            <p>{{me.PetId}}</p>
            <p>{{me.Address}}</p>
        </div>
        
        
        <div class="row">
        </div>
    </div>
</section><!--/#meet-team-->

    
    
    


    <section id="contact">
        <div id="google-map" style="height:650px" data-latitude="52.365629" data-longitude="4.871331"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Contact Info</h3>

                            <address>
                              <strong>Twitter, Inc.</strong><br>
                              795 Folsom Ave, Suite 600<br>
                              San Francisco, CA 94107<br>
                              <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 Pet Shelter. Designed by <a target="_blank" href="http://google.com/"> Alexander Haliy & Chop Volodimir</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="js/angular-ui-notification.min.js"></script>
    <script src="js/google-api.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/mousescroll.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/petController.js"></script>

</body>
</html>